body{
    margin: 150px auto;
    width:50%;
    font-family: arial;
    background-color: rgb(200, 200, 200);
    padding: 20px;
    color: black;
}

label{
    width: 20%;
    display: inline-block;
    text-align: left;
}

fieldset{
    border-radius: 8px;
    background-color: #99c5bd;
}

legend{
    font-size:1.4em;
    margin-bottom:10px;
}

input[type="text"], input[type="number"], input[type="email"], textarea{
    border-radius: 5px;
    padding: 10px;
    width: 70%;
    background-color: white;
    margin: 10px;
}

input[type="radio"]{
    margin: 20px;
}

input[type="submit"]{
    position: relative;
    padding: 20px;
    font-size: 18px;
    border: 1px solid #16a085;
    border-radius: 8px;
    margin-top:10px;
    width:100%;
    font-size: 18px;
    font-style: bold;
}

ul{
    list-style: none;
    padding: 20px;
    overflow: hidden;
    margin: 10px 0 10px 0 ;
    background-color: #99c5bd;
    border-radius:5px;
    border: 1px solid grey;
}

li{
    display:inline;
    padding: 10px;
}

li a {
    color: black;
    padding: 20px;
    margin: 20px;
}
